asgiref==3.7.2
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==41.0.7
defusedxml==0.7.1
Deprecated==1.2.14
Django==5.0.1
django-allauth==0.60.1
django-appconf==1.0.6
django-classy-tags==4.1.0
django-environ==0.11.2
django-oauth-toolkit==2.3.0
django-phonenumber-field==7.3.0
django-rest-framework==0.1.0
django-select2==8.1.2
django-solo==2.1.0
django-tinymce==3.6.1
djangorestframework==3.14.0
docopt==0.6.2
environ==1.0
greenlet==3.0.3
gunicorn==21.2.0
idna==3.6
jwcrypto==1.5.1
merkle-json==1.0.0
mysqlclient==2.2.1
num2words==0.5.13
oauthlib==3.2.2
packaging==23.2
phonenumbers==8.13.28
pycparser==2.21
PyJWT==2.8.0
python3-openid==3.2.0
pytz==2023.3.post1
requests==2.31.0
requests-oauthlib==1.3.1
-e git+ssh://git@github.com/pdbethke/SportradarAPIs.git@d4e3e74b2a18659eff24921be03b9ecaaaba0636#egg=sportradar
-e git+ssh://git@github.com/pdbethke/sportspicker.git@05db823c8b4aac6c8717d6e5f8cf4f836231efec#egg=sportspicker
-e git+ssh://git@github.com/pdbethke/sportspicker_basketball.git@bb36eff57591c2d9fc52b6d410a76eee1e9bfbb2#egg=sportspicker_basketball
SQLAlchemy==2.0.25
sqlparse==0.4.4
typing_extensions==4.9.0
tzdata==2023.3
urllib3==2.1.0
whitenoise==6.6.0
wrapt==1.16.0
